<%= turbo_frame_tag dom_id(answer) do %>
  <%= form_with(model: answer, html: { class: 'pure-form pure-form-aligned' }) do |form| %>
    <% if answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(answer.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
          <% answer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render 'team_answers/answer_field', form: form, field: :answer_1 %>
    <%= render 'team_answers/answer_field', form: form, field: :answer_2 %>
    <%= render 'team_answers/answer_field', form: form, field: :answer_3 %>
    <%= render 'team_answers/answer_field', form: form, field: :answer_4 %>
    <%= render 'team_answers/answer_field', form: form, field: :answer_5 %>
    <%= render 'team_answers/answer_field', form: form, field: :answer_6 %>
    <%= render 'team_answers/answer_field', form: form, field: :answer_7 %>
    <%= render 'team_answers/answer_field', form: form, field: :answer_8 %>
    <%= render 'team_answers/answer_field', form: form, field: :answer_9 %>
    <%= render 'team_answers/answer_field', form: form, field: :answer_10 %>

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= form.submit class: 'button is-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
