<div class="column">
  <h2><%= @game.name %></h2>
  <% @game.teams.each do |team| %>
    <h2><%= team.name %></h2>
    <% @game.rounds.each do |round| %>
      <h3><%= round.round_number %></h3>
      <% answers =  round.answers.for_team(team) %>
      Answer 1: <%= answers.answer_1 %>
      Answer 2: <%= answers.answer_2 %>
      Answer 3: <%= answers.answer_3 %>
      Answer 4: <%= answers.answer_4 %>
      Answer 5: <%= answers.answer_5 %>
      Answer 6: <%= answers.answer_6 %>
      Answer 7: <%= answers.answer_7 %>
      Answer 8: <%= answers.answer_8 %>
      Answer 9: <%= answers.answer_9 %>
      Answer 10: <%= answers.answer_10 %>
    <% end %>
  <% end %>
</div>