<%= turbo_frame_tag dom_id(round)do %>
  <%= form_with(model: round, class: 'box is-shadowless', data: { 'turbo-frame': round_form_turbo_frame(round) }) do |form| %>
    <% if round.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

        <ul>
          <% round.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4>Progress:</h4>
    <progress class="progress is-info" value="<%= round.progress %>" max="100">"<%= round.progress %>%</progress>

    <div class="title is-5"><%= t(:number_of_questions_title, number: round.number) %> (<%= t(:max_notice) %>)</div>

    <%= form.fields_for(:questions, round.questions) do |question_form| %>
      <div class="field is-horizontal">
        <%= render 'components/form/text_field', form: question_form, field: :question %>
        <%= render 'components/form/text_field', form: question_form, field: :answer %>
      </div>
    <% end %>

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
      </div>
      <%= render 'components/form/button', form: form %>
    </div>
  <% end %>
<% end %>