<%= turbo_frame_tag dom_id(answer) do %>
  <%= form_with(model: answer) do |form| %>
    <% if answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(answer.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
          <% answer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :answer_1 %>
      <%= form.text_field :answer_1 %>
    </div>

    <div class="field">
      <%= form.label :answer_2 %>
      <%= form.text_field :answer_2 %>
    </div>

    <div class="field">
      <%= form.label :answer_3 %>
      <%= form.text_field :answer_3 %>
    </div>

    <div class="field">
      <%= form.label :answer_4 %>
      <%= form.text_field :answer_4 %>
    </div>

    <div class="field">
      <%= form.label :answer_5 %>
      <%= form.text_field :answer_5 %>
    </div>

    <div class="field">
      <%= form.label :answer_6 %>
      <%= form.text_field :answer_6 %>
    </div>

    <div class="field">
      <%= form.label :answer_7 %>
      <%= form.text_field :answer_7 %>
    </div>

    <div class="field">
      <%= form.label :answer_8 %>
      <%= form.text_field :answer_8 %>
    </div>

    <div class="field">
      <%= form.label :answer_9 %>
      <%= form.text_field :answer_9 %>
    </div>

    <div class="field">
      <%= form.label :answer_10 %>
      <%= form.text_field :answer_10 %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
