<div class="card-content">
  <div class="content">
    <% if notice.present? %>
      <div class="notification is-success">
        <a href="" class="delete"></a>
        <%= notice %>
      </div>
    <% end %>
    <h1 class="title"><%= game.name %></h1>

    <% if game.rounds.finished.count.zero? %>
      <div class="notification is-success">
        <%= t(:waiting_for_first_round) %>
      </div>
    <% else %>
      <div class="tabs">
        <ul>
          <li class="is-active"><a>Pictures</a></li>
          <li><a>Music</a></li>
          <li><a>Videos</a></li>
          <li><a>Documents</a></li>
        </ul>
      </div>

      <% round = game.rounds.first %>
      <h2>Round <%=round.number %></h2>
      <% game.teams.each do |team| %>
        <h3><%= team.name %></h3>
        <table class="table is-striped is-hoverable">
          <thead>
          <tr>
            <th>Question</th>
            <th>Correct Answer</th>
            <th>Given Answer</th>
            <th>Score</th>
          </tr>
          </thead>

          <tbody>
            <% team.team_answers.where(question: round.questions).each do |answer| %>
            <tr>
              <td>Question <%= answer.question.number %></td>
              <td><%= answer.question.answer %></td>
              <td><%= answer.answer %></td>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>

  <footer class="card-footer">
    <div class="card-footer-item"></div>
    <div class="card-footer-item"></div>
    <div class="card-footer-item">
      <% if game.next_round.present? %>
        <%= form_with(model: game, url: next_round_game_path(game)) do |form| %>
          <%= form.submit t(:next_round), class: 'button is-primary is-inverted' %>
        <% end %>
      <% else  %>
        <%= form_with(model: game, url: finish_game_path(game)) do |form| %>
          <%= form.submit t(:finish_game), class: 'button is-primary is-inverted' %>
        <% end %>
      <% end %>
    </div>
  </footer>
</div>