<div class="card-content">
  <div class="content">
    <% if notice.present? %>
      <div class="notification is-success">
        <a href="" class="delete"></a>
        <%= notice %>
      </div>
    <% end %>
    <h1 class="title"><%= game.name %></h1>

    <table class="table is-striped is-hoverable">
      <thead>
      <tr>
        <th>Team</th>
        <% game.rounds.each do |round| %>
          <th>Points for <%= round.name %></th>
        <% end %>
        <th>Total points</th>
      </tr>
      </thead>

      <tbody>
        <% game.teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <% game.rounds.each do |round| %>
              <td><%= team.points_for_round(round) %></td>
            <% end %>
            <td><%= team.total_points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <footer class="card-footer">
    <div class="card-footer-item"></div>
    <div class="card-footer-item"></div>
    <div class="card-footer-item"></div>
  </footer>
</div>