<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <%= render 'components/form/text_field', form: form, field: :name, width: '50%' %>
  </div>
  <div class="field is-horizontal">
    <%= render 'components/form/number_field', form: form, field: :number_of_rounds %>
  </div>
  <div class="field is-horizontal">
    <%= render 'components/form/number_field', form: form, field: :number_of_teams %>
  </div>
  <div class="field is-horizontal">
    <%= render 'components/form/button', form: form %>
  </div>
<% end %>
